<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Joseph Simple Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Joseph's Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"></div>

  <!-- Dropdown to change basemap -->
  <ion-item>
    <ion-label>Choose Basemap</ion-label>
    <ion-select (ionChange)="onBasemapChange($event)">
      <ion-select-option value="topo-vector">Topographic</ion-select-option>
      <ion-select-option value="streets">Streets</ion-select-option>
      <ion-select-option value="satellite">Satellite</ion-select-option>
      <ion-select-option value="hybrid">Hybrid</ion-select-option>
      <ion-select-option value="dark-gray">Dark Gray</ion-select-option>
      <ion-select-option value="terrain">Terrain</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
